<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>Welcome to Flask</h1>
        <p>HTML + CSS Connected Successfully</p>
    </header>

    <section class="container">
        <div class="card">
            <h2>About Flask</h2>
            <p>
                Flask is a lightweight Python web framework used for
                building web applications quickly and efficiently.
            </p>

            <button>Learn More</button>
        </div>
    </section>

</body>
</html>



